<!DOCTYPE html>
<html lang="en">
<head>
<title>Ansar Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 25%;
}

.right {
  width: 75%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
    padding: 10px;
  text-align: right;
}
</style>
</head>
<body>


<div class="grid-container">
<div class="header">
  <h2>Header</h2>
</div>

<div class="row">
  <div class="column side" style="background-color:#aaa;">Column</div>
  <div class="column middle" style="background-color:#bbb;">Column</div>
  
</div>
</div>

  <div class="footer">
  <p>Footer</p>
</div>
</body>
</html>
