/* Global styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}

.sidebar {
  width: 300px;
  background-color: #f8f9fa;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: 100vh;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-y: auto;
}

.sidebar .logo {
  text-align: center;
}

.sidebar .logo img {
  margin-top: 3rem;
  width: 100px;
  border-radius: 50%;
}

.sidebar h1 {
  font-size: 1.8rem;
  margin: 5px;
  color: #717171;
}

.sidebar p {
  font-size: 1rem;
  color: #717171;
}

.sidebar nav ul {
  margin-top: 1rem;
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 15px 0;
}

.sidebar nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
  padding: 10px 16px 10px 16px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar nav ul li a.active,
.sidebar nav ul li a:hover {
  background-color: #e9eff5;
  color: #323232;
  font-weight: 600;
}

.menu-icon {
  width: 20px;
  margin-right: 10px;
}

/* Social Icons */
.social-icons {
  padding-top: 30px;
  display: flex;
  gap: 15px;
}

.social-icons a {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
  text-decoration: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.social-icons a:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.social-icons i {
  font-size: 20px;
  color: #333;
  transition: color 0.2s ease;
}

.social-icons a:hover i {
  color: #666;
}
/* Content Styles */
.content {
  width: 80%;
  padding: 20px;
  margin-left: 290px;
}

.content a {
  color: #808080;
  text-decoration: none;
  }

header .search-bar {
  width: 60%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
}

main {
  display: flex;
  gap: 20px;
}

.cards {
  width: 75%;
}

.card {
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h2 {
  margin: 0 0 10px;
  font-size: 20px;
  color: #2a2a2a;
}

.card p {
  margin: 0 0 15px;
  color: #9d9d9d;
}

.card footer {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #777;
}

h5 {
  color: #757575;
  font-size: 20px;
}
.copyright {
  color: #7e7e7e;
  font-size: 12px;
  position: fixed;
  bottom: 0;
  padding: 10px 0;
}
